@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>


@{
    ViewData["Title"] = "Index";
    List<ShoppingCart.Application.ViewModels.ProductViewModel> listForCount = new List<ShoppingCart.Application.ViewModels.ProductViewModel>();
    
}

<div class="container>

    <div class="row">
        @if (Model != null && Model.Count() > 0)
        {





            @Html.Partial("ViewShoppingCartProductsPartial", Model)
            @*@Html.Partial("CalculateShoppingCartPricePartial", Model)*@


        }
        else
        {
            <h1 class="p-3 mb-2 bg-warning text-dark text-center text-capitalize">Shopping cart is empty!</h1>
        }
    </div>


</div>







