@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>


@{
    ViewData["Title"] = "Index";
    List<ShoppingCart.Application.ViewModels.ProductViewModel> listForCount = new List<ShoppingCart.Application.ViewModels.ProductViewModel>();
    
}

<div class="container>

    <div class="row">
        @if (Model != null && Model.Count() > 0)
        {

            <partial name="ViewShoppingCartProductsPartial" , model="Model" />
           

        }
        else
        {

            <h1 class="p-3 mb-2 bg-warning text-dark text-center text-capitalize justify-content-center">Shopping cart is empty!</h1>
            <a href="Products" class="text-decoration-none">

                <h1 class="alert alert-success" role="alert">
                    <i class="fas fa-store fa-9x fa-align-center"></i>
                    To Products Catalog
                </h1>
            </a>
        }
    </div>


</div>







