@model ShoppingCart.Application.ViewModels.ProductViewModel

@{ ViewData["Title"] = "Details"; }







<h1 class="text-center font-weight-normal">Product Details</h1>
<hr />
<div class="container">
    <div class="row mt-4">

        <div class="col-lg-4 text-center border-right border-secondery">
            <div class="tab-content row h-100 d-flex justify-content-center align-items-center" id="myTabContent">
                <div class="tab-pane fade show active col-lg-12" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <img class="img-fluid" src="@Html.DisplayFor(model => model.ImageUrl)">
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <h5>
                @Html.DisplayFor(model => model.Name)
            </h5>
            <h3>
                € @Html.DisplayFor(model => model.Price)
            </h3>
            <p>
                @Html.DisplayFor(model => model.Description)
            </p>
            <hr />
                <form action="/ShoppingCart/AddMultipleItems?id=@Html.DisplayFor(model => model.Id)" method="post">
                    <div class="col-xs-1 font-weight-bold">
                        <input type="number" value="1" min="0" max="100" name="amount" style="text-align:center; width:50px; border: 2px solid green;"/>
                        <button type="submit" class="btn btn-outline-success">Add to cart</button>
                        </div>
                    </form>
 
        </div>
    </div>
    <div class="row pt-3">
        <a asp-action="Index" class="text-decoration-none">
            <i class="fas fa-arrow-left fa-5x text-decoration-none" style="color: black"></i>
        </a>

    </div>
</div>