@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>



<h1 class="text-center font-weight-normal">Products Catalogue</h1>
<hr />

<div class="container">


    <div class="row justify-content-center">
        <div class="col">
            @Html.Partial("SearchPartial")
        </div>
        <div class="col">
            @Html.Partial("CategoryFilterPartial", Model)
        </div>
    </div>

    <div class="row justify-content-center">
        @Html.Partial("ViewProductsPartial", Model)
    </div>

    <div class="row justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                @{ for (int i = 1; i <= ViewBag.totalPages; i++)
                    {
        <li class="page-item"><a class="page-link" style="color:black" href="/Products?pageNumber=@i">@i</a></li>
 } }

            </ul>
        </nav>
    </div>

</div>






