@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>

@{ ViewData["Title"] = "Index"; }

<h1>Products Catalogue</h1>

<div class="container">
    <div class="row">
        <div class="col">

            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    @{ for (int i = 1; i <= ViewBag.totalPages; i++)
                        {
                            <li class="page-item"><a class="page-link" href="/Products?pageNumber=@i">@i</a></li>
                       } }

                </ul>
            </nav>

        </div>
    </div>

    <div class="row">
        <div class="col">
            @Html.Partial("SearchPartial")
        </div>
        <div class="col">
            @Html.Partial("CategoryFilterPartial", Model)
        </div>
    </div>

    <div class="row">
        @Html.Partial("ViewProductsPartial", Model)
    </div>

</div>






