@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>





    <h1 class="text-center font-weight-normal">Products Catalogue</h1>

<hr />

<div class="container">


    <div class="row justify-content-center">
        <div class="col">
            <partial name="SearchPartial" />
        </div>
        <div class="col">
            <partial name="CategoryFilterPartial", model="Model" />
        </div>
    </div>

    <div class="row justify-content-center">
        <partial name="ViewProductsPartial" , model="Model" />
    </div>

    <div class="row justify-content-center pt-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                @{ for (int i = 1; i <= ViewBag.totalPages; i++)
                    {
        <li class="page-item"><a class="page-link bg-dark" style="color: white" href="/Products?pageNumber=@i">@i</a></li>
 } }

            </ul>
        </nav>
    </div>

</div>






