@model ErrorViewModel
@{ ViewData["Title"] = "Error"; }


@if (User.IsInRole("Admin")) { //Error page will be shown only to Admins

         
<div class="alert alert-danger" role="alert">
    Error!
    <br />
    An error occurred while processing your request.
</div>
    


        @if (Model.ShowRequestId)
        {
    <div class="alert alert-warning" role="alert">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </div> 
         }

   

}

