<form class="form-inline" method="post" action="/Products/Search"     >
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Type your keyword here"  name="keyword"   >
    </div>
    <button type="submit" class="btn btn-dark ">Search</button>
</form>